footer
    .footer_row
        nav 
            span Products:
            ul 
                li 
                    a(href="#") Toners
                li 
                    a(href="#") Emulsions
                li 
                    a(href="#") Creams
                li 
                    a(href="#") All-in-one 
                li 
                    a(href="#") Cleansers
        nav 
            span Useful Information:
            ul 
                li 
                    a(href="#") Our Stockists
                li 
                    a(href="#") Our lab
                li 
                    a(href="#") Product care
                
        nav 
            span Company:
            ul 
                li 
                    a(href="#") News
                li 
                    a(href="#") About us
                li 
                    a(href="#") Contact us
        nav 
            span Connect with us:
            ul 
                li 
                    a(href="#") Facebook
                li 
                    a(href="#") Instagram
    .footer_row
        span all rights reserved Curology &copy;2021