header
    .header-column
        ul 
            li 
                a(href="#") Products
            li 
                a(href="#") Stockists
            li 
                a(href="#") About us
    .header-column 
        a(href="#")  Curology
    .header-column 
        i.fas.fa-search
