extends templates/layout

block content 
    main
        section.slide-show
            .image-column
                .image-column_img 
                .image-column_img 
                .image-column_img 
                .image-column_img 
                .image-column_img 
            article.text-column
                h1.text-column_main Eyes rest from an afternoon in the sun. Smooth textures feel cool on bare skin.
                span.text-column_link Featuring 
                    a(href="#") Cleanser 
        section.about
            h1 Time for Your Skin 
            p Our goal is to offer each and every person around the world the best of Beauty in terms of quality, efficacy, safety, sincerity and responsibility to satisfy all beauty needs and desires in their infinite diversity.
            span Find out more  
                    a(href="#") About us
        section.gallary 
            .gallary-row 
                .gallary-img 
                .gallary-img 
                .gallary-img 
            .gallary-row 
                .gallary-img 
                .gallary-img 
                .gallary-img 
            
            