%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%heading {
  padding: 0 10%;
  line-height: 1.2;
  text-align: center;
  font-family: "Play Fair";
  font-size: 3.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

%orangeLink {
  color: #ff6429;
  font-weight: 700;
  &:hover {
    border-bottom: 1px solid #ff6429;
  }
}

%gallaryImg {
  background-position: center;
  background-size: cover;
  transition: box-shadow 0.3s ease-in;
  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75);
  }
}
