@import "_reset.scss";
@import "_variables.scss";
@import "_shortcut.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

body {
  width: 100%;
  background-color: #f6f6f6;
  font-family: "Montserrat";
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: border-bottom 0.15s ease-in;
  &:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  }
}

main {
  width: 100%;
}

header {
  font-weight: 500;
  background-color: #f6f6f6;
  width: 100%;
  height: $headerHeight;
  padding: 0 $headerPadding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 3;
  .header-column {
    &:first-child {
      padding-right: 45%;
      ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      @extend %center;
      font-size: 25px;
      font-weight: 700;
      a {
        &:hover {
          border-bottom: none;
        }
      }
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
  }
}

main {
  width: 100%;
  margin-top: $headerHeight;
  .slide-show {
    width: 100%;
    height: 500vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .image-column {
      .image-column_img {
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        &:first-child {
          background-image: url("../img/cosmetic2.jpg");
        }
        &:nth-child(2) {
          background-image: url("../img/cosmetic3.jpg");
        }
        &:nth-child(3) {
          background-image: url("../img/cosmetic5.jpg");
        }
        &:nth-child(4) {
          background-image: url("../img/cosmetic4.jpg");
        }
        &:nth-child(5) {
          background-image: url("../img/cosmetic6.jpg");
        }
      }
    }
    .text-column {
      background-color: #f6f6f6;
      height: 100vh;
      width: 100%;
      position: sticky;
      top: $headerHeight;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      h1 {
        @extend %heading;
      }
      a {
        @extend %orangeLink;
      }
    }
  }
  .about {
    width: 100%;
    height: 60vh;
    background-color: #efcb56;
    @extend %center;
    flex-direction: column;
    h1 {
      @extend %heading;
    }
    p {
      padding: 4vh 20%;
      font-size: 2.5rem;
      font-family: "Play fair";
      line-height: 1.2;
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
    }
    a {
      @extend %orangeLink;
    }
  }
  .gallary {
    width: 100%;
    height: 100.3vh;
    background-color: #f6f6f6;
    display: grid;
    margin: 3px 0;
    gap: 3px;
    grid-auto-rows: 50vh;
    .gallary-row {
      display: grid;
      gap: 3px;
      &:first-child {
        grid-template-columns: 2fr 1fr 1fr;
        .gallary-img {
          @extend %gallaryImg;
          &:first-child {
            background-image: url("../img/cosmetic1.jpg");
            background-position: top;
          }
          &:nth-child(2) {
            background-image: url("../img/cosmetic8.jpg");
          }
          &:nth-child(3) {
            background-image: url("../img/cosmetic9.jpg");
            background-position: bottom;
          }
        }
      }
      &:nth-child(2) {
        grid-template-columns: 1fr 2fr 1fr;
        .gallary-img {
          @extend %gallaryImg;
          &:first-child {
            background-image: url("../img/cosmetic10.jpg");
          }
          &:nth-child(2) {
            background-image: url("../img/cosmetic11.jpg");
          }
          &:nth-child(3) {
            background-image: url("../img/cosmetic7.jpg");
            background-position: top;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 100vh;
  background-color: $footerBg;
  color: white;
  padding: 20vh 13% 15vh 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .footer_row:first-child {
    width: 100%;
    height: 65vh;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    span {
      color: #a4a7a3;
    }
    ul {
      padding-top: 1.2rem;
      li {
        padding-bottom: 1.2rem;
        a {
          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
    }
  }
}
