@import "_reset.scss";
@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

body {
  width: 100%;
  background-color: #f6f6f6;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

main {
  width: 100%;
  height: 2500vh;
  background-color: olive;
}

header {
  font-family: "Montserrat";
  font-weight: 500;
  background-color: #f6f6f6;
  width: 100%;
  height: 8vh;
  padding: 0 $headerPadding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  .header-column {
    &:first-child {
      padding-right: 45%;
      ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 700;
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
  }
}

footer {
  width: 100%;
  height: 100vh;
  background-color: $footerBg;
  color: white;
}
